@charset "UTF-8";
/* CSS Document */

/*****************************************************/
/*****************************************************/
/*Zachary Garlett		    Date: Mar 24 2019*/
/*Personal Website				     */
/*						     */
/*						     */
/*						     */
/*	Last Updated: Apr 4 2019 		     */
/*						     */
/*****************************************************/
/*****************************************************/

/* Base Styles */
* {
	box-sizing: border-box;
}

header {
	font-size: 1.2em;
	height: 75px;
	color: white;
	padding-left: 5em;
	padding-right: 5em;

}

body {
	margin: 0;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

main {
	padding: 0 10rem;
}

h1{

}

p {
	
}
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

a:link {
	color: white;
}

a:hover {
	color: DimGrey;
}

a:visited {
	color: white;
}

a:visited:hover {
	
	color: grey;
}

/* Layout Styles */

.container {
	text-align: center;
	display: block;
}

.main-header {
	background: black;
	color: white;
	
}

.body-resume {
	padding-left: 15rem;
}

.name {
	padding: 5px;
}

.nav li{
	list-style: none;
	padding: 5px;
}

.nav li:hover {
	color: grey;
}

.main-img {
	
}

.colleft, .colcenter, .colright {
	width: 33%;
	padding: 15px;
}

.twocolumns {
	columns: 2;
}

.threecolumns {
	columns: 3;
}

form{
	padding: 15px;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
  text-align: center;
}

footer .copyright {
  top: -8px;
  margin-right: 20px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .5;
  transition: all .25s;
}
a.stackoverflow {
  background-image: url("Pictures/stackoverflow.svg");
}
a.linkedin {
  background-image: url("Pictures/linkedin.svg");
}
a.github {
  background-image: url("Pictures/github.svg");
}
a.social:hover {
  opacity: 1;
}




/* Media Queries */

@media (min-width: 789px) {
	
	.name {
		float: left;
	}
	
	.floatright {
		float: right;
	}
	
	.floatleft {
		float: left;
	}
	
	.floatnone {
		float: none
	}
	
	.floatinherit {
		float:inherit;
	}
	.nav {
		float: right;

	}
	
	.nav li{
		float: left;
	}
	
	.colleft,.colcenter,.colright {
		float: left;
	}
	
	
	
	.clearfix::after {
		content: "";
		display: table;
		clear: both;
	}
	
}
